openapi: 3.0.3
info:
  title: Clerk Backend Allowlist & Blocklist API
  description: 'The Clerk Backend API manages Clerk''s authentication and user management resources server-side: users, organizations and memberships, sessions, clients, sign-ups, JWT templates, JWKS, email/SMS verification and templates, allowlist/blocklist identifiers, invitations, SAML/enterprise connections, OAuth applications, and Svix-powered webhooks. The base URL is https://api.clerk.com/v1 and every request (except GET /jwks and the public interstitial) is authenticated with your instance Secret Key passed as `Authorization: Bearer sk_...`. This description is grounded in Clerk''s published OpenAPI spec (github.com/clerk/openapi-specs, bapi) but is a curated subset covering the primary resource groups; it does not enumerate every parameter or schema property. Verify the current version-dated spec on GitHub for the authoritative contract.'
  version: '2026-05-12'
  contact:
    name: Clerk
    url: https://clerk.com
  license:
    name: Clerk Documentation
    url: https://clerk.com/docs
servers:
- url: https://api.clerk.com/v1
  description: Clerk Backend API
security:
- bearerAuth: []
tags:
- name: Allowlist & Blocklist
  description: Identifiers permitted or denied from signing up.
paths:
  /allowlist_identifiers:
    get:
      operationId: listAllowlistIdentifiers
      tags:
      - Allowlist & Blocklist
      summary: List all allowlist identifiers
      responses:
        '200':
          description: A list of allowlist identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Identifier'
    post:
      operationId: createAllowlistIdentifier
      tags:
      - Allowlist & Blocklist
      summary: Add an allowlist identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - identifier
              properties:
                identifier:
                  type: string
                notify:
                  type: boolean
      responses:
        '200':
          description: The created identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identifier'
  /allowlist_identifiers/{identifier_id}:
    parameters:
    - name: identifier_id
      in: path
      required: true
      schema:
        type: string
    delete:
      operationId: deleteAllowlistIdentifier
      tags:
      - Allowlist & Blocklist
      summary: Delete an allowlist identifier
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedObject'
  /blocklist_identifiers:
    get:
      operationId: listBlocklistIdentifiers
      tags:
      - Allowlist & Blocklist
      summary: List all blocklist identifiers
      responses:
        '200':
          description: A list of blocklist identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Identifier'
    post:
      operationId: createBlocklistIdentifier
      tags:
      - Allowlist & Blocklist
      summary: Add a blocklist identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - identifier
              properties:
                identifier:
                  type: string
      responses:
        '200':
          description: The created identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identifier'
  /blocklist_identifiers/{identifier_id}:
    parameters:
    - name: identifier_id
      in: path
      required: true
      schema:
        type: string
    delete:
      operationId: deleteBlocklistIdentifier
      tags:
      - Allowlist & Blocklist
      summary: Delete a blocklist identifier
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedObject'
components:
  schemas:
    Identifier:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        identifier:
          type: string
        identifier_type:
          type: string
        created_at:
          type: integer
    DeletedObject:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
        deleted:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Your Clerk instance Secret Key (starts with sk_test_ or sk_live_) passed as `Authorization: Bearer YOUR_SECRET_KEY`.'
